/* цвет основного текста  #212121 */
/* цвет текста логотипа #000000 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет текста в адресе rgba(255, 255, 255, 0.6); */
/* цвет текста в организаторы rgba(255, 255, 255, 0.4); */
/* вторичный цвет фона #F5F4FA */
/* цвет фона в футере #2F303A */

:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* .test-container { 
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid tomato;
}


/* logo */

.logo > .link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.web {
  color: var(--accent-color);
}

.studio {
  color: #000000;
}

/* page-header */
.page-header {
  /* background-color: wheat; */
  border-bottom: 1px solid #ececec;
}

.main-header {
  display: flex;
  align-items: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

/* Site nav */

.site-nav {
  display: inline-flex;
  margin-left: 86px;
}

/* .site-nav .item { 
  /* outline: 2px solid tomato; */

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);

  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .item:not(:last-child) {
  margin-right: 31.5px;
}

.contacts {
  color: var(--secondary-text-color);

  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background-color: tomato; */
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* .none { 
  display: none;
}*/

/* Features */

.features-section {
  padding-top: 94px;
  padding-bottom: 93px;
  /* background-color: turquoise; */
  border-bottom: 1px solid #ececec;
}

.features-list {
  display: flex;
}
.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-desc {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-text-color);

  line-height: 1.7;
}

.features-icons {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 500;
  text-decoration: none;
}

.features-icons:hover,
.features-icons:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

/* Works */

.image {
  display: block;
  border-radius: 4px;
}

.works-list {
  display: flex;
}

.works-list .item:not(:last-child) {
  margin-right: 30px;
}

.works-links {
  text-decoration: none;
}

.works-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  border-radius: 0px 0px 4px 4px;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Our Team */

.team-list {
  display: flex;

  text-align: center;
}

.team-img {
  display: block;
  border-radius: 4px 4px 0px 0px;
}

.team-info {
  background-color: var(--primary-white-color);
}

.team-list > .item {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-job {
  margin-top: 0;
  margin-bottom: 16px;

  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.18;
}

.team-links {
  color: var(--primary-white-color);
  background-color: #afb1b8;

  font-size: 16px;
  line-height: 1.18;
  text-decoration: none;
}

.team-links:hover,
.tewamlinks:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

.team-bg {
  background-color: #f5f4fa;
}

.links-list {
  display: flex;
}

.links-list .icons-item:not(:last-child) {
  margin-right: 3px;
}

/* Clients */

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.clients {
  color: var(--primary-white-color);
  background-color: #afb1b8;

  font-size: 16px;
  line-height: 1.18;
  text-decoration: none;
  text-align: center;
}

.clients:hover,
.clients:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

/* Footer */

.page-footer {
  background-color: #2f303a;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: none;
}

.web-footer {
  color: var(--accent-color);
}

.studio-footer {
  color: var(--primary-white-color);
}

.address {
  padding-top: 10px;

  color: var(--primary-white-color);

  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}

.footer-contacts {
  padding-top: 48px;
  color: rgba(255, 255, 255, 0.6);

  line-height: 1.7;
}

.footer-item {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 9px;
}

.join {
  color: var(--primary-white-color);

  font-weight: 700;
  text-transform: uppercase;
}
.join-list {
  display: flex;
}

.join-list .item:not(:last-child) {
  margin-right: 3px;
}
.footer-links {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-size: 16px;
  line-height: 1.18;
  text-decoration: none;
}

.footer-links:hover,
.footer-links:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

.copyright {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  color: rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Button */

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  letter-spacing: 0.06em;
  text-align: center;
}

/* Portfolio */

button {
  font-family: inherit;
}

.filters {
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.filters:hover,
.filters:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.filters-title {
  margin-top: 0;
  margin-bottom: 0;
}

.filters-container {
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
}

.filters-container .item:not(:last-child) {
  margin-right: 8px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.flex-element {
  width: 370px;
  margin: 15px;
  /* border: 1px solid #EEEEEE; */
}

.flex-element .img {
  display: block;
  border-radius: 5px 5px 0px 0px;
}

.card-info {
  background-color: var(--primary-white-color);
  border: 1px solid #eeeeee;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
}
.flex-element > .links {
  text-decoration: none;
}

.port-titles {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.par-titles {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.filters-about {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.9;
}
